html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: grid;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #363d98;
  min-height: 100%;
}

.header {
  color: white;
  padding: 20px;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
}

.table {
  width: 96%;
  padding: 20px;
  margin: 8px;
}

.search-results {
  text-align: center;
}

.ant-table-tbody>tr.ant-table-row:hover>td {
  background: #f16675 !important;
  cursor: pointer;
}

.ant-pagination .ant-pagination-item a {
  color: #fbe56d !important;
}

.ant-pagination .ant-pagination-item-active a {
  color: #363d98 !important;
}